* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

p {
  font-size: 1.6rem;
  text-decoration: solid;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.app:before {
  content: '';
  background: url('./assets/sunset.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  text-decoration-color: beige;
}

.app .description {
  position: relative;
  display: flex;
  font-weight: bold;
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
}

.fore th,
.fore td {
  padding: 8px;
  text-align: center;
}

.fore th {
  font-weight: bold;
}

.fore img {
  display: block;
  margin: 0 auto;
}

.forecast {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.flag {
  width: 250px;
  height:250px;
  border-radius: 25%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 75%;
}

.app input {
  padding-right: 40px; /* Increase the padding on the right side to make space for the flag */
}
.app .search {
  position: relative; /* Add position relative to the .search class */
}

/* making it for small screen */
@media only screen and (max-width: 600px) {
  .app .flag {
    width: 50px;
    height: 50px;
    right: 5px;
  }
  .app input {
    padding-right: 20px;
  }

  .heading{
    font-size: 1.5rem;
  }

  .app .top {
    font-size: 1rem;
  }

  .app .bottom {
    font-size: 1rem;
  }

  .app .description .location .currenTime .dayDate{
    font-size: 1rem;
  }

}
